[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-testing = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-bcrypt = "*"
gunicorn = "*"
psycopg2 = "*"
flask-cors = "*"
flask-jwt-extended = "*"
pyjwt = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"

[requires]
python_version = "3.8"
