[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-testing = "*"
pytest-flask = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-bcrypt = "*"
gunicorn = "*"
flask-cors = "*"
flask-jwt-extended = "*"
pyjwt = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
psycopg2-binary = "*"
sentry-sdk = {extras = ["flask"],version = "*"}

[requires]
python_version = "3.8"
