[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-testing = "*"
pytest-flask = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
black = "*"

[packages]
blinker = "*"
flask-marshmallow = "*"
gunicorn = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
sentry-sdk = "*"
Flask = "*"
Flask-Bcrypt = "*"
Flask-Cors = "*"
Flask-JWT-Extended = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
PyJWT = "*"
mysql = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
