blinker==1.4
flask==1.1.2
flask-bcrypt==0.7.1
flask-cors==3.0.8
flask-jwt-extended==3.24.1
flask-marshmallow==0.12.0
flask-migrate==2.5.3
flask-sqlalchemy==2.4.3
gunicorn==20.0.4
marshmallow-sqlalchemy==0.23.1
psycopg2-binary==2.8.5
pyjwt==1.7.1
python-dotenv==0.13.0
sentry-sdk==0.14.4